<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="css/login.css">

  <title>AIO-Monti</title>
</head>

<body class="bg-light">

  <div class="h-100 w-100 d-block d-sm-flex justify-content-center align-items-center">
    <div class="card shadow">
      <div class="card-header text-center font-weight-bold h3 d-none d-sm-block">Sign In</div>
      <div class="card-body p-2 p-sm-4">
        <form action="/login" method="POST">
          <div class="form-group py-2 px-sm-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control <% if (messages.error) { %>is-invalid<% } %>" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group pb-2 px-sm-3">
            <label for="password">Password</label>
            <input type="password" class="form-control <% if (messages.error) { %>is-invalid<% } %>" id="password" placeholder="Password" name="password">
            <div class="invalid-feedback">
              <%= messages.error %>
            </div>
          </div>
          <hr>
          <div class="d-flex justify-content-between py-1 px-sm-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a class="btn btn-primary" href="/register">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>